.tree-view {
  font-size: 20px;
}
li.file.entry.list-item, .list-tree li.list-nested-item > .list-item {
  line-height: 34px;
}
.settings-view.pane-item{
  font-size: 18px;
}

atom-pane-container{
  & ul.tab-bar[is="atom-tabs"]{
    border:1px solid green;
    font-size: 18px;
    max-width: 18em !important;
    width    : 18em !important;
    & li{
      &.active{
        background-color: #626977 !important;
      }
      &:hover{
        background-color: #CCCCCC;
        color:#000000;
      }
    }
  }
}

//list-inline tab-bar inset-panel
//list-inline tab-bar inset-panel
